.billeder{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    height: 250px;
    margin-top: 2em;
    border-style: dotted;
    border-color: red;
    cursor: pointer; 
}

#snaps{
    padding-right: 35px
}