p{
    background-color: rgb(233, 197, 242);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: rgb(52, 10, 65);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}

.grid01{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.box-1{
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid ;
    background-color: rgb(144, 52, 164);
    }

/******** opgave 2 *************/

.grid02{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.box{
    display: grid;
    background-color: antiquewhite;
    padding: 10px;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

/******* opgave 3 **********/
.grid03{
    display: grid;
    grid-template-columns: repeat(2, auto 1fr);
    gap: 1rem;
}

.box01{
    grid-row: span 2;
}

.box-5{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 3;
    background-color: aqua;
    padding: 10px;
    gap: inherit;
}

/********* Opgave 4 *********/
.grid04{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    background-color: rgb(184, 145, 220);
}

.box2, .box2b{
    background-color: rgb(141, 96, 183);
    padding: 1rem;
    grid-column: 2/span 4;
    gap: inherit;
    grid-template-columns: subgrid;
}

/******** opgave 5 *******/
.grid05{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    background-color: rgb(228, 169, 246);
}

.grid05 div{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
}

/****** opgave 6 *********/

.grid06{
    display: grid;
    grid-template-columns: [a] 1fr [b] 1fr [c] 1fr [d] 1fr;
    gap: 1rem;
}

.baggrund{
    background-color: rgb(186, 144, 225);
    grid-column: 2 / -1;
    display: grid;
    grid: auto / subgrid;
}

.box-01{
    grid-column: c;
}

.box-02{
    grid-column: c;
}